#presc
{
	color: white; 
	text-align: center; 
	font-size: 15pt; 
	font-weight: bold;	
}

.spectacle
{
	background-color: #6495ED;
	height: 300px;
}

.contact_lens
{
	background-color: white;
	height: 300px;
}

.dignostic_codes
{
	background-color: #6495ED;
	height: 300px;
}

body
{
	background-color: black;
}
